/* styles.css */
.header-hide {
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}

.header-bgBlur {
  backdrop-filter: blur(5px);
}

.nav-drawer {
  transform: translateX(-100%);
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  z-index: 999;
  left: 0;
  top: 0;
  min-width: 32vw;
  max-width: 50vw;
  background: var(--color-main);
  padding: 1.5rem;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  transition: all 0.4s ease;
}

.nav-drawer-mask {
  transition: all 0.4s ease;
  display: none;
  --at-apply: transition-all;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
