---
import BaseLayout from '../layouts/BaseLayout.astro'
import siteConfig from '../site-config'
import LanguagesAndTeks from '../components/language.md'
import SoialMedia from '../components/SosialMedias'
---
<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <img
      src="./pb.jpeg"
      class="rounded-full sm:size-80 size-60 mb-10"
      alt="pb"
    />
    <h1 class="text-title">Albert Bayazidi</h1>
    <p>
      Velkomen til min nettside. Jeg heter Albert og studenter fysikk og
      matematikk på NTNU. Spesialiseringen min er i nummerik. Jeg har erfaring
      med FEM pakker som firedrake og netgen/NGSolve. Ellers er jeg veldig glad
      i programmering.
    </p>
    <p>Dette er noen av teknologiene jeg bruker</p>

    <LanguagesAndTeks />

    <div class="hr-line"></div>
    <p>Find meg på</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      <SoialMedia client:only="react"/>
    </p>
    <p>
      Hvis du har noen spørsmål, vennligst send meg en e-post på
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>
    </p>
  </article>
</BaseLayout>
