---
import BaseLayout from '../../layouts/BaseLayout.astro'
//import ListProjects from '@/components/ListProjects.vue'
---

<BaseLayout title="Cv" description="">
    <h1 class="mb-10 text-title">Cv</h1>
  <div mb-16 sm:mb-24></div>
</BaseLayout>
